body {
    background-color:gray;
  }
  
  h1 {
    color: white;
    margin-left: 20px;
    text-align: center;
    
  }
a{
  color: white;
}
.header_div{
    background-color: rgb(31, 29, 29);
    padding: 5px;
}
.marquee_text{
  font-size: 20px;
  color:cyan;
}
.calculator_space{
  background-color: orange;
  height: 100%;
  padding: 10px;
  text-align: center;
}
.currency_img{
  color: cyan;
  text-align: center;
}